html{
    font-family: 'Lato', sans-serif;
    font-size:62.5%;
    box-sizing:border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    overflow-x:hidden ;
    font-size: 1.6rem;
    font-family: 'Lato',  sans-serif;
    background-color:#c3c3c3;
}

figure{
    margin: 0;
}

.center{
    text-align: center;
}

